

div {
max-width : 1000px;
margin : auto;
border-radius : 15px;
}
#noticias {
border-radius : 15px;
background-color : white;
text-align : left;
max-width : 800px;
margin-right : 0;
}
#cabecera {
background-color : #bfbfe2;
border : solid 3px;
color : #000046;
}
h1 {
border-radius : 5px;
background-color : #000046;
text-align : center;
color : white;
font-family : sans-serif;
}
h2, h3 {
border-radius : 15px;
background-color : #3f3fa8;
text-align : center;
color : white;
}
h5 {
color : #3f3fa8;
}
body {
background-color : #bfbfe2;
}
p {
color : black;
margin-left : 1%;
margin-right : 1%;
}
footer {
text-align : center;
}
img {
width : 200px;
}
.centrado_img {
margin : 10px auto;
display : block;
}
.centrado_vid {
margin : 10px auto;
display : block;
}
.izquierda_img {
float : left;
margin-left : 1%;
margin-right : 1%;
}
#menu {
float : right;
background-color : white;
color : black;
position : fixed;
width : 190px;
margin : 0;
top : 300px;
}
.img_v {
width : 170px;
text-align : center;
margin : 10px auto;
display : block;
}
#MENUH LI.PRINCIPAL {
display : table-cell;
width : 150px;
padding : 10px;
background-color : #000023;
font-family : 'Lucida Console', Monaco, monospace;
}
#MENUH A.PRINCIPAL {
text-decoration : none;
color : white;
font-family : 'Lucida Console', Monaco, monospace;
}
#MENUH LI A.PRINCIPAL:hover {
background-color : #2586d7;
}
#MENUH LI:hover UL {
visibility : visible;
}
#SUBMENU LI {
width : 150px;
padding : 10px;
background-color : #000023;
list-style-type : none;
}
#SUBMENU A {
text-decoration : none;
color : white;
}
#SUBMENU A:hover {
background-color : #2586d7;
padding-left : 40px;
padding-right : 40px;
}
#SUBMENU {
visibility : hidden;
position : absolute;
}
